.ourcoffee-main {
    height: 260px;
    background-size: cover;
    font-weight: 700;
    margin-bottom: 80px;

    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 130px 0 84px 0;
    }

    &-title {
        font-size: 40px;
        line-height: 58px;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }
}