.about-beans {
    &-single {
        width: 392px;
        height: 355px;
    }

    &-text {
        &>div {
            margin-bottom: 16px;
            text-align: start;

            &>span {
                font-size: 24px;
                line-height: 35px;
            }
        }
    }

}